VITE_SUPABASE_URL=https://fszgwkaudhwhdvambfdq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZzemd3a2F1ZGh3aGR2YW1iZmRxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk4OTE3MTIsImV4cCI6MjA5NTQ2NzcxMn0.F7jUS3hMgzB8AqGTC4eN0jsK1oTlEwGfxAdFaYkk790

VITE_BILLING_ENV=sandbox